/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* Header */
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}
/* menu */
nav{
    position: relative;
}

nav .header-menu{
    position:absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 40px;
}

.header-menu li,
.header-menu li a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.header-menu li{
    margin-left: 30px;
}

/*Main*/
section {
	height: 100vh;
    position: relative;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}
.bg-green{
    background-color: seagreen;
}

.contenuto {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}


